/* Main / Misc. CSS */
body {
    margin: 0px;
}

p,
ol,
ul,
li {
    font-family: "Dogica";
    font-size: 10px;
}

p,
span,
div,
ul,
ol {
    line-height: 2;
}

.emoticon {
    width: 35px;
    height: auto;
    justify-self: center;
}

.red-strike-through {
    text-decoration: line-through;
    text-decoration-color: rgb(180, 2, 2);
    text-decoration-thickness: 3px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.main-body {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.container-main {
    position: relative;
    width: 560px;
    z-index: 1;
    border-radius: 5px;
    gap: 10px;
}

.container-left {
    position: relative;
    
    width: 225px;
    z-index: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-right {
    position: relative;
    width: 225px;
    z-index: 1;
    background-color: #F4F3EF;
    padding: 20px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0, 30%);
}

.backdrop {
    float: left;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: #272626;
    background-image: url('../img/bg2\(1\).jpg');
    background-repeat: repeat;
    /* background-size: 64px 64px; */
}

@font-face {
    font-family: "Dogica";
    src: url(../fonts/dogica.ttf);
    font-weight: normal;
    font-style: normal;
}

@keyframes pan-text {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.bubble {
    z-index: 1;
    background: #a39c92;
    padding: 20px;

    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;

    box-shadow:
        inset 1px 1px 0 #DFDFDF,
        inset -1px -1px 0 #404040;
}

.bubble-no-border {
    display: flex;
    justify-content: center;
    z-index: 1;
    background:#a39c92;
    padding-bottom: 20px;
    width: 100%;
}

/* Header CSS */

.splash-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.splash-image {
    width: 500px;
    height: auto;
}

.mercury-header-gif {
    max-width: 200px;
    height: 200px;
    rotate: -10deg;
    position: absolute;
    top: -120px;
    left: -60px;
}

.header-title {
    position: relative;
    top: -30px;
    right: -90px;
    font-family: "Jacquard 12";
}

.header-title-post-strike-through {
    font-family: dogica;
    font-size: 15px;
}

.random-facts {
    width: 520px;
    overflow: hidden;
    position: relative;
    top: -25px;
}

.random-facts span {
    display: inline-block;
    white-space: nowrap;
    animation: pan-text 10s linear infinite;
    font-family: "Dogica";
    font-size: 10px;
}

/* On REPEAT! */
.musical-notes {
    position: absolute;
    top: -40px;
    right: -50px;
    rotate: 5deg;
    max-width: 100px;
}

.top-3-albums {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.album-cover {
    max-width: 230px;
}

.album p {
    font-size: 8px;;
}

/* Left-hand side */

.buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

.doggo-pic {
    width: 100%;
}

.live-chat {
    display: flex;
    justify-content: center;
}
.mood {
    width: 100%;
}

.message-alert {
    width: 100%;
    margin-top: 7px;
    margin-right: 7px;
}

.mobile-icons {
    display: flex;
    gap: 10px;
    justify-content: right;
}

.mobile-icons > .bubble {
    flex: 1 1 calc(50% - 5px);
    max-width: calc(50% - 5px);
}

.mobile-icons > .bubble:only-child {
    flex: 0 1 auto;
    max-width: 28%;
}

.tricorn {
    width: 100%;
    margin-top: 7px;
    margin-right: 7px;
}

/* Blogs */

 .blog-preview-text {
    font-size: 8px;
    color: rgb(134, 134, 134);
 }

.photos-preview {
    column-count: 2;
    column-gap: 10px;
}

.photo {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    break-inside: avoid;
}

/* Duke Section */

.duke-section {
    display: flex;
    width: 100%;
}
.beside-duke {
    width: 100%;
    height: auto;
}

.beside-duke input[type="file"] {
    width: 100%;
    overflow: hidden;
}

.pixelator-title {
    font-family: "Dogica";
    font-size: 10px;
    margin-bottom: 15px;
}

.upload-btn {
    display: inline-block;
    padding: 8px 12px;
    font-family: "Dogica";
    font-size: 8px;
    background: #fff;
    border: 2px solid #000;
    cursor: pointer;
    transition: all 0.1s ease;
}

.upload-btn:hover {
    transform: translateY(-1px);
}

.upload-btn:active {
    transform: translateY(1px);
}

#fileName {
    margin-top: 10px;

    font-family: "Dogica";
    font-size: 8px;

    max-width: 200px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#pixelCanvas {
    display: block;

    margin-top: 15px;

    width: 100%;
    height: auto;

    image-rendering: pixelated;

    border: 2px solid black;
}

#pixelCanvas {
    max-width: 100%;
    image-rendering: pixelated;
    border: 1px solid #000;
}

/* Footer */

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 200px;
}

.footer {
    display: flex;
    flex-direction: row;
}

/* Mobile */
@media (max-width: 900px) {

    body {
        overflow-x: hidden;
    }

    .main-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    .container-left,
    .container-main {
        display: contents;
    }

    .container-right {
        width: 100%;
        max-width: 600px;
        box-sizing: border-box;
        order: 7;
    }

    .bubble,
    .duke-section {
        width: 100%;
        max-width: 600px;
        box-sizing: border-box;
    }

    .live-chat img,
    .gallery img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .live-chat img,
    .gallery img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .d3-button {
        order: -1;
        display: flex;
        width: 100%;
    }

    .header {
        order: 1;
    }

    .resources {
        order: 2;
    }

    .d-banner-container {
        order 2
    }

    .container-left > .bubble:nth-of-type(2) {
        order: 3;
    }

    .blogs {
        order: 4;
    }

    .live-chat {
        order: 5;
    }

    .gallery {
        order: 6;
    }

    .duke-section {
        order: 7;
    }

    .container-right {
        order: 8;
    }

    .container-left > .bubble:nth-of-type(5) {
        order: 9;
    }

    .container-left > .bubble:nth-of-type(6) {
        order: 10;
    }

    .container-left > .bubble:nth-of-type(7) {
        order: 11;
    }

    .buttons {
        order: 12;
        margin-top: 40px;
    }

    .header {
        order: -1;
        width: 100%;
        max-width: 600px;
        padding-top: 20px;
    }

    .mercury-header-gif {
        position: static;
        display: block;
        margin: 0 auto 15px auto;
        width: 120px;
        height: auto;
        rotate: 0deg;
    }

    .header-title {
        position: static;
        text-align: center;
        margin: 0;
        font-size: 2rem;
    }

    .header-title-post-strike-through {
        font-size: 12px;
    }

    .random-facts {
        width: 100%;
        top: 0;
    }

    /* Gallery */

    .photos-preview {
        column-count: 1;
    }

    /* Splash image */

    .splash-image {
        width: 95%;
        max-width: 500px;
        height: auto;
    }

    /* Music section */

    .musical-notes {
        display: none;
    }

    .album-cover {
        max-width: 300px;
    }

    /* Text */

    p {
        font-size: 8px;
    }

    .blog-preview-text {
        font-size: 7px;
    }

    /* Footer */

    .footer-container {
        margin-top: 50px;
    }
}

body {
    position: relative;
    overflow-x: hidden;
    background: black;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;

    background: repeating-linear-gradient(
        to bottom,
        rgba(255,255,255,0.03) 0px,
        rgba(255,255,255,0.03) 1px,
        transparent 2px,
        transparent 4px
    );
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9998;

    background:
        radial-gradient(
            ellipse at center,
            transparent 0%,
            transparent 100%,
            rgba(0,0,0,0.15) 100%
        );

    animation: crt-flicker 0.15s infinite;
}


.main-body {
    animation: textShadow 2s infinite;
}

@keyframes textShadow {
    0% {
        text-shadow:
            0.4px 0 0 rgba(255,0,0,0.5),
            -0.4px 0 0 rgba(0,255,255,0.5);
    }
    50% {
        text-shadow:
            -0.4px 0 0 rgba(255,0,0,0.5),
            0.4px 0 0 rgba(0,255,255,0.5);
    }
    100% {
        text-shadow:
            0.4px 0 0 rgba(255,0,0,0.5),
            -0.4px 0 0 rgba(0,255,255,0.5);
    }
}

body {
    filter: contrast(1.05) brightness(1.10);
}

.main-body {
    transform: perspective(2000px) rotateX(0.5deg)!important;
}

.banner-container {
  overflow: hidden; 
  width: 100%;
    background: #a39c92;
    padding: 20px;

    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #808080;
  color: #fff;
  padding: 15px 0;
  display: flex;
}

.banner-track {
  display: flex;
  width: max-content;
  animation: pan 20s linear infinite; /* Loops endlessly at a fixed speed */
}

/* Optional: Pauses the panning banner on mouse hover */
.banner-track:hover {
  animation-play-state: paused;
}

.banner-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px; 
  padding-right: 10px;
  min-width: 100vw;
}

.banner-group span {
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}

/* Keyframes shifting the track exactly by half its full width */
@keyframes pan {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.d-banner {
    width: 100%;
    scale: 75%;
}

.bubble-fitted-image {
    width: 100%;
}

.operator {
  color: #ca1c0c;  
}

.scanner {
    color: #b98f24;
}

.surpressor {
    color: #3c92ca;
}