:root {
        --bubble-background: #a39c92;
}

body {
    margin: 0px;
    cursor: url('../misc/carmageddon/1.cur'), auto;
}

a, 
label, 
button,
label.upload-btn {
    cursor: url('../misc/carmageddon/2.cur'), auto;
}

iframe{
    cursor: url('../misc/carmageddon/1.cur'), auto;
}

p,
ol,
ul,
li {
    font-family: "Dogica";
    font-size: 10px;
}

p,
span,
div,
ul,
ol {
    line-height: 2;
}

.emoticon {
    width: 35px;
    height: auto;
    justify-self: center;
}

.red-strike-through {
    text-decoration: line-through;
    text-decoration-color: rgb(180, 2, 2);
    text-decoration-thickness: 3px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.main-body {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.come-play {
    background-color: var(--bubble-background); font-size: 30px; width: fit-content; padding: 0px 10px 0px 30px; margin-right: 10px;
    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;
}

.entry-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    overflow:hidden;
}

.no-overflow {
    overflow: hidden;
}

.container-main {
    position: relative;
    width: 560px;
    z-index: 1;
    border-radius: 5px;
    gap: 10px;
}

.container-left {
    position: relative;
    width: 225px;
    z-index: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-right {
    position: relative;
    width: 225px;
    z-index: 1;
    background-color: #F4F3EF;
    padding: 20px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0, 30%);
}

.backdrop {
    float: left;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: #272626;
    background-image: url('../img/bg2\(1\).jpg');
    background-repeat: repeat;
}

@font-face {
    font-family: "Dogica";
    src: url(../fonts/dogica.ttf);
    font-weight: normal;
    font-style: normal;
}

@keyframes pan-text {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.invisible-bubble {
    z-index: 1;
    padding: 20px;
    display: hidden;
}

.bubble {
    z-index: 1;
    background: var(--bubble-background);
    padding: 20px;

    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;

    box-shadow:
        inset 1px 1px 0 #DFDFDF,
        inset -1px -1px 0 #404040;
}


.bubble-no-border {
    display: flex;
    justify-content: center;
    z-index: 1;
    background:var(--bubble-background);
    padding-bottom: 20px;
    width: 100%;
}

.splash-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.splash-image {
    width: 500px;
    height: auto;
}

.mercury-header-gif {
    max-width: 200px;
    height: 200px;
    rotate: -10deg;
    position: absolute;
    top: -120px;
    left: -60px;
}

.header-title {
    position: relative;
    top: -30px;
    right: -90px;
    font-family: "Jacquard 12";
}

.header-title-post-strike-through {
    font-family: dogica;
    font-size: 15px;
}

.random-facts {
    width: 520px;
    overflow: hidden;
    position: relative;
    top: -25px;
}

.random-facts span {
    display: inline-block;
    white-space: nowrap;
    animation: pan-text 10s linear infinite;
    font-family: "Dogica";
    font-size: 10px;
}

.musical-notes {
    position: absolute;
    top: -50px;
    right: -55px;
    rotate: 5deg;
    max-width: 100px;
}

.top-3-albums {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.album-cover {
    max-width: 100%;
}

.album p {
    font-size: 8px;;
}


.buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

.doggo-pic {
    width: 100%;
}

.live-chat {
    display: flex;
    justify-content: center;
}

.mood {
    width: calc(100vw - 20px);
    max-width: 600px;
    box-sizing: border-box;
    z-index: 1;
    background: var(--bubble-background);
    padding: 20px;

    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;

    box-shadow:
        inset 1px 1px 0 #DFDFDF,
        inset -1px -1px 0 #404040;
}

.mobile-icons .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    flex: 1;
}

.mobile-icons .invisible-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    flex: 1;
}

.mobile-icons .message-alert {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 10px;
    object-fit: contain;
}

.mobile-icons {
    display: flex;
    gap: 10px;
    justify-content: right;
}

.tricorn {
    width: 100%;
    margin-top: 7px;
    margin-right: 7px;
}


 .blog-preview-text {
    font-size: 8px;
    color: rgb(134, 134, 134);
 }

.photos-preview {
    column-count: 2;
    column-gap: 10px;
}

.photo {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    break-inside: avoid;
}


.duke-section {
    display: flex;
    width: 100%;
}
.beside-duke {
    width: 100%;
    height: auto;
}

.beside-duke input[type="file"] {
    width: 100%;
    overflow: hidden;
}

.pixelator-title {
    font-family: "Dogica";
    font-size: 10px;
    margin-bottom: 15px;
}

.upload-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 5px 12px;
    min-width: 75px;
    min-height: 22px;

    font-family: "Dogica";
    font-size: 8px;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;

    background: #c0c0c0;

    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #404040;
    border-bottom: 2px solid #404040;

    box-shadow:
        inset -1px -1px 0 #808080,
        inset 1px 1px 0 #dfdfdf;
}

.upload-btn:hover {
    transform: translateY(-1px);
}

.upload-btn:active {
    transform: translateY(1px);
}

#fileName {
    margin-top: 10px;

    font-family: "Dogica";
    font-size: 8px;

    max-width: 200px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#pixelCanvas {
    display: block;

    margin-top: 15px;

    width: 100%;
    height: auto;

    image-rendering: pixelated;

    border: 2px solid black;
}

#pixelCanvas {
    max-width: 100%;
    image-rendering: pixelated;
    border: 1px solid #000;
}


.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 200px;
}

.footer {
    display: flex;
    flex-direction: row;
}

@media (max-width: 900px) {

    body {
        overflow-x: hidden;
    }

    .no-overflow {
    overflow: hidden;
}

    .main-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    .container-left,
    .container-main {
        display: contents;
    }

    .container-right {
        width: 100%;
        max-width: 600px;
        box-sizing: border-box;
        order: 7;
    }

    .bubble,
    .duke-section {
        width: 100%;
        max-width: 600px;
        box-sizing: border-box;
    }

    .live-chat img,
    .gallery img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .live-chat img,
    .gallery img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .buttons {
        order: -1;
        display: flex;
        width: 100%;
    }

    .header {
        order: 1;
    }

    .resources {
        order: 2;
    }

    .d-banner-container {
        order 2
    }

    .container-left > .bubble:nth-of-type(2) {
        order: 3;
    }

    .blogs {
        order: 4;
    }

    .live-chat {
        order: 5;
    }

    .gallery {
        order: 6;
    }

    .duke-section {
        order: 7;
    }

    .container-right {
        order: 8;
    }

    .container-left > .bubble:nth-of-type(5) {
        order: 9;
    }

    .container-left > .bubble:nth-of-type(6) {
        order: 10;
    }

    .container-left > .bubble:nth-of-type(7) {
        order: 11;
    }

    .firepitcontainer {
        order: 12;
    }

    .buttons {
        order: 13;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 1%;
    }

    

    .buttons > *:nth-child(odd) {
        justify-self: center;
    }

    .buttons > *:nth-child(even) {
        justify-self: start;
    }

    .header {
        order: -1;
        width: 100%;
        max-width: 600px;
        padding-top: 20px;
    }

    .mercury-header-gif {
        position: static;
        display: block;
        margin: 0 auto 15px auto;
        width: 120px;
        height: auto;
        rotate: 0deg;
    }

    .header-title {
        position: static;
        text-align: center;
        margin: 0;
        font-size: 2rem;
    }

    .header-title-post-strike-through {
        font-size: 12px;
    }

    .random-facts {
        width: 100%;
        top: 0;
    }


    .photos-preview {
        column-count: 1;
    }


    .splash-image {
        width: 95%;
        max-width: 500px;
        height: auto;
    }


    .musical-notes {
        display: none;
    }

    .album-cover {
        max-width: 100%;
    }


    p {
        font-size: 8px;
    }

    .blog-preview-text {
        font-size: 7px;
    }


    .footer-container {
        margin-top: 50px;
    }
}

body {
    position: relative;
    overflow-x: hidden;
    background: black;
}

body {
    filter: contrast(1.05) brightness(1.0);
}

 :root {
        --titlebar-gradient: linear-gradient(90deg, #6a1535, #b23965, #f9a5b9);
        --dialog-blue: #6a1535;
        --dialog-accent: white;
        --titlebar-color: white;
        --player-image: url(https://loveberry.nekoweb.org/assets/images/mp/yuzuha.png);
        --surface: #c0c0c0;
        --button-highlight: #ffffff;
        --button-face: #dfdfdf;
        --button-shadow: #808080;
        --light-button-shadow: #a9a9a9;
        --window-frame: #0a0a0a;
        --border-field: inset -1px -1px var(--button-highlight),
            inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
            inset 2px 2px var(--window-frame);
    }

    @font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("https://files.catbox.moe/qgjjre.woff") format("woff");
  src: url("https://files.catbox.moe/8fwbkl.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("https://files.catbox.moe/z7csle.woff") format("woff");
    src: url("https://files.catbox.moe/moqhx6.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    }

    #musicplayer {
        font-family: "Pixelated MS Sans Serif", Arial;
        -webkit-font-smoothing: none;
        font-size: 11px;
        color:var(--window-frame);
        width: fit-content;
        border:var(--window-frame) solid 1px;
        margin:0 auto;
            box-shadow: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-face), inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-highlight);
        background: var(--bubble-background);
        padding: 3px;
    }

    .title-color {  
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    background: var(--titlebar-gradient);
    margin-bottom: 2px;
    font-weight: bold;
}

.actual-title {
    color:var(--titlebar-color);
  display: flex;
  gap: 5px;
}

.seeking {
    font-weight: normal;
    font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
    gap: 5px;
    margin: 12px 0;
}

.player-flex {
    display: flex;
    gap: 3px;
}

.player-main {
    width: 100%;
    margin: 5px;
}

.player-icon-holder {
  border: 2px solid var(--surface);
  width:80px;
  height:80px;
  padding: 1px;
  background-image:linear-gradient(-45deg, var(--button-face) 50%, var(--window-frame) 50%);
  background-size:cover;
  background-repeat:no-repeat;
  border-width:1px;
  border-style:solid;
  border-color: var(--button-shadow) var(--button-highlight) var(--button-highlight) var(--button-shadow);
  
  overflow: hidden;
  position:relative;
  z-index: 2;
}

.player-icon {
    background-image:var(--player-image);
    background-size: contain;
    background-repeat: no-repeat;
  width:80px;
  height:80px;
  display: display;
}

.track-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius:0;
  box-sizing: border-box;
  outline:0;
  
  text-overflow: ellipsis;

  background-position: top 2px right 2px;
  background-repeat: no-repeat;
  width: 100%;
  padding-left: 10px;

  box-shadow: var(--border-field);
  background-color: var(--button-highlight);
  height: 25px;

  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: none;
  font-size: 11px;
  font-weight: lighter;
}

.track-select:focus {
  color: var(--dialog-accent);
  background-color: var(--dialog-blue);

}
.track-select:focus option {
  color: var(--window-frame);
  background-color: var(--button-highlight);  
  outline: 1px;
  border: none;
}

.track-select:active {
  background-image: url("https://loveberry.nekoweb.org/assets/musicplayer/button-down-active.svg");
}

#musicplayer input[type="range"] {  
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

#musicplayer input[type="range"]:focus {
  outline: none;
}

#musicplayer input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 21px;
  width: 11px;
  background: url("https://loveberry.nekoweb.org/assets/musicplayer/indicator-horizontal.svg");
  transform: translateY(-8px);
  box-shadow: none;
  border: none;
}

#musicplayer input[type="range"].has-box-indicator::-webkit-slider-thumb {
  background: url("https://loveberry.nekoweb.org/assets/musicplayer/indicator-rectangle-horizontal.svg");
  transform: translateY(-10px);
}

#musicplayer input[type="range"]::-moz-range-thumb {
  height: 21px;
  width: 11px;
  border: 0;
  border-radius: 0;
  background: url("https://loveberry.nekoweb.org/assets/musicplayer/indicator-horizontal.svg");
  transform: translateY(2px);
}

#musicplayer input[type="range"].has-box-indicator::-moz-range-thumb {
  background: url("https://loveberry.nekoweb.org/assets/musicplayer/indicator-rectangle-horizontal.svg");
  transform: translateY(0px);
}

#musicplayer input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  box-sizing: border-box;
  background: var(--window-frame);
  border-right: 1px solid var(--button-shadow);
  border-bottom: 1px solid var(--button-shadow);
  box-shadow: 1px 0 0 var(--button-highlight), 1px 1px 0 var(--button-highlight), 0 1px 0 var(--button-highlight), -1px 0 0 var(--light-button-shadow),
    -1px -1px 0 var(--light-button-shadow), 0 -1px 0 var(--light-button-shadow), -1px 1px 0 var(--button-highlight), 1px -1px var(--light-button-shadow);
}

#musicplayer input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    background: var(--window-frame);
    border-right: 1px solid var(--button-shadow);
    border-bottom: 1px solid var(--button-shadow);
    box-shadow: 1px 0 0 var(--button-highlight), 1px 1px 0 var(--button-highlight), 0 1px 0 var(--button-highlight), -1px 0 0 var(--light-button-shadow),
    -1px -1px 0 var(--light-button-shadow), 0 -1px 0 var(--light-button-shadow), -1px 1px 0 var(--button-highlight), 1px -1px var(--light-button-shadow);
}

.window-button {
    background: var(--surface);
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px var(--window-frame),inset 1px 1px var(--button-highlight),inset -2px -2px var(--button-shadow),inset 2px 2px var(--button-face);
    box-sizing: border-box;
    color: inherit;
    text-shadow: 0 0 var(--window-frame);
}

.window-button:active {
  box-shadow: inset -1px -1px var(--button-highlight), inset 1px 1px var(--window-frame), inset -2px -2px var(--button-face), inset 2px 2px var(--button-shadow);
  text-shadow: 1px 1px var(--window-frame);
}

.window-button:focus  {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

.player-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px 5px 0 5px;
}
.player-buttons .window-button  {
    width: 25%;
    font-size: 10px;
    padding: flex;
}
.close {
    margin-left: 2px;
    background-image: url("https://loveberry.nekoweb.org/assets/musicplayer/close.svg");
    background-repeat: no-repeat;
    background-position: top 3px left 4px;

    padding: 0;
    display: block;
    min-width: 16px;
    min-height: 14px;
}

.minimize {
  background-image: url("https://loveberry.nekoweb.org/assets/musicplayer/minimize.svg");
  background-repeat: no-repeat;
  background-position: bottom 3px left 4px;
    padding: 0;
    display: block;
    min-width: 16px;
    min-height: 14px;
}

.maximize {
  background-image: url("https://loveberry.nekoweb.org/assets/musicplayer/maximize.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
    padding: 0;
    display: block;
    min-width: 16px;
    min-height: 14px;
}: 5px 10px;
}
.player-buttons .window-button svg {
   width: 15px;
   height: 15px;
}

.banner-container {
  overflow: hidden; 
  width: 100%;
    background: var(--bubble-background);
    padding: 20px;

    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #808080;
  color: #fff;
  padding: 15px 0;
  display: flex;
}

.banner-track {
  display: flex;
  width: max-content;
  animation: pan 20s linear infinite;
}

.banner-track:hover {
  animation-play-state: paused;
}

.banner-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px; 
  padding-right: 10px;
  min-width: 100vw;
}

.banner-group span {
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}

@keyframes pan {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.d-banner {
    width: 100%;
    scale: 75%;
}

.bubble-fitted-image {
    width: 100%;
}

.operator {
  color: #ca1c0c;  
}

.scanner {
    color: #b98f24;
}

.surpressor {
    color: #3c92ca;
}