/* Main / Misc. CSS */
body {
    margin: 0px;
}

p {
    font-family: "Dogica";
    font-size: 10px;
}

.red-strike-through {
    text-decoration: line-through;
    text-decoration-color: rgb(180, 2, 2);
    text-decoration-thickness: 3px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.main-body {
    display: flex;
    position: relative;
    top: px;
    gap: 10px;
    justify-content: center;

}

.container-main {
    position: relative;
    width: 560px;
    z-index: 1;
    border-radius: 5px;
    gap: 10px;
}

.container-left {
    position: relative;
    
    width: 225px;
    z-index: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-right {
    position: relative;
    width: 225px;
    z-index: 1;
    background-color: #F4F3EF;
    padding: 20px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0, 50%);
}

.backdrop {
    float: left;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
}

@font-face {
    font-family: "Dogica";
    src: url(../fonts/dogica.ttf);
    font-weight: normal;
    font-style: normal;
}

@keyframes pan-text {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.bubble {
    z-index: 1;
    background-color: #F4F3EF;
    padding: 20px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0, 50%);
}

/* Header CSS */

.splash-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.splash-image {
    width: 500px;
    height: auto;
}

.mercury-header-gif {
    max-width: 200px;
    height: 200px;
    rotate: -10deg;
    position: absolute;
    top: -120px;
    left: -60px;
}

.header-title {
    position: relative;
    top: -30px;
    right: -90px;
    font-family: "Jacquard 12";
}

.header-title-post-strike-through {
    font-family: dogica;
    font-size: 15px;
}

.random-facts {
    width: 520px;
    overflow: hidden;
    position: relative;
    top: -25px;
}

.random-facts span {
    display: inline-block;
    white-space: nowrap;
    animation: pan-text 10s linear infinite;
    font-family: "Dogica";
    font-size: 10px;
}

/* On REPEAT! */
.musical-notes {
    position: absolute;
    top: -40px;
    right: -50px;
    rotate: 5deg;
    max-width: 100px;
}

.top-3-albums {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.album-cover {
    max-width: 230px;
}

.album p {
    font-size: 8px;;
}

/* Left-hand side */

.buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

/* Blogs */
 .blog-preview-text {
    font-size: 8px;
    color: rgb(134, 134, 134);
 }

/* Footer */

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.footer {
    display: flex;
    flex-direction: row;
}